.DS_Store
.terraform/
.terraform.tfstate.lock.info
/terraform/*/backend.tf
/terraform/*/terraform.tfvars
/terraform/shared.tfvars
/values-deps.yaml
/values-dev-and-prod.yaml
/values-dev.yaml
terraform.tfstate
terraform.tfstate.backup
