.DS_Store
.terraform/
.terraform.tfstate.lock.info
/.runhub/
/terraform/*/backend.tf
/terraform/*/terraform.tfvars
/terraform/shared.tfvars
/values.yaml
/values-prod-k8s-creds.yaml
terraform.tfstate
terraform.tfstate.backup
